<p>Contact-Us!</p>
<form name="myForm" onsubmit="return validate()" method ="post">

    <label>Name:</label>
    <br />
    <input type="text" name="Name" value="" required alert="must be filled">
    <br /><br />
    

    <label>Email:</label>
    <br />
    <input type="email" name="email" value="" required alert="must be filled">
    <br/><br />

    <label>Message:</label>
    <br />
    <input type="text" name="message" value="" required>
    <br /><br />


    <input type="button" name="submit" value="onsubmit">
</form>
